---
import BaseHead from "@/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import CVEditor from "@/components/cv-editor";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <ViewTransitions />
  </head>
  <body>
    <!-- 只在客户端进行渲染 -->
    <CVEditor client:only />
  </body>
</html>
